p {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

img {
    margin-right: 100px;
    margin-left: 100px;
}

h3 {
    font-size: 40px;
}
h1 {
    font-size: 30px;
    padding-right: 100px;
    padding-left: 100px;
}
h2 {
    margin-top: 50px;
    margin-right: 600px;
    margin-left: 600px;
}
body {
    background-color: lavender;
}
#mainTitle {
    padding-right: 550px;
    padding-left: 550px;
}
.location {
    font-size: 25px;
}
